body {
    background-color: black;
}

.container {
    background-color: rgb(225, 235, 252);
}

.font-custom {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.font-xl {
    font-size: 5em;
}

.card img {
    filter: brightness(65%);
}

.cursor-pointer {
    cursor: pointer
}